#chat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.chatbox {
    position: relative;
    width: 100%;
}

.x {
    position: absolute;
    top: -25px;
    right: -10px;
    font-size: 0.8rem;
    padding: 2px 5px;
    border-radius: 50%;
    border-width: 0.2rem;
}

.chatbot-response {
    width: 50%;
    margin-right: auto;
    background-color: #f9f3e8;
    padding: 10px;
    border-radius: 5px;
}
  
.user-message {
    width: 50%;
    margin-left: auto;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #dedede;
    border-radius: 5px;
    background-color: #eb5353;
    color: #333;
}
  
input[type="text"]:focus {
    outline: none;
    border: 2px solid #333;
}