#chat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#000000;
    background-color:#7a0909;

    gap: 20px;
}

.chatbox {
    position: relative;
    width: 100%;

}

.x {
    
    top: -25px;
    right: -10px;
    font-size: 0.8rem;
    padding: 2px 5px;
    border-radius: 50%;
    border-width: 0.2rem;
}

.chatbot-response {
    width: 50%;
    margin-right: auto;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
}

.user-message {
    width: 50%;
    margin-left: auto;
    background-color: #333;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* winput text */
input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #4c1d1d;
    border-radius: 5px;
    background-color: #531b1b;
    color: #050505;
}
/* actual text of question background*/
input[type="text"]:focus {
    outline: none;
    background-color: #d09494;
    border: 2px solid #000000;
}

button {
    margin-top: 10px;
    background: none !important; 
    border: none !important;             /* Removes any border */
    box-shadow: none !important;  
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    border: 2px solid #4c1d1d;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    
    color: white;
}