body {
    font-family: "Inter";
    background-color: #DEDEDE;
    color: #333;
}
#about,
#chat,
#projects,
#exp {
    width: 60%;
    margin: 30px auto;
    background-color: #eee;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#projects h2,
#about h2,
#chat h2,
#exp h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    position: relative;
}
.project,
.job {
    background: #DEDEDE;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 75%;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
#projects li,
.job li {
    margin-left: 25px;
}
button {
    padding: 0.4rem 0.8rem;
    border: 0.2rem solid #333;
    border-radius: 0.5rem;
    background-color: #333;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
}
button:hover {
    background-color: #DEDEDE;
    color: #333;
}










