#classes {
    padding: 30px 20px;
    margin-bottom: 100px;
    text-align: center;
    background: none; /* optional: no background */
}

#classes h2 {
    font-size: 32px;
    color: #111;
    margin-bottom: 20px;
}

#classes h3 {
    font-size: 25px;
    color: #111;
    margin-bottom: 20px;
}

#classes ul {
    list-style: none;
    padding: 0;
}

#classes li {
    font-size: 23px;
    color: #444;
    margin-bottom: 10px;
}

.class-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; /* adds spacing between columns */
}

.class-column {
    flex: 1 1 45%;  ;
    min-width: 250px;
    max-width: border-box;
}
