#profile {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 50px auto 30px auto;
    font-size: 2.1rem;
    max-width: 1200px;
    padding: 0, 30px;
    padding-inline: 40px;
    justify-content: center; /* centers content inside */
    flex-wrap:nowrap;

}
#profile-text {
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

#profile-text img:hover {
    transform: scale(1.15);
    cursor: pointer;
    
}
/*PERLA RUIZ */
#profile h2 { 
    font-size: 60px; 
    margin-bottom: 0;
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    font-style: italic;
    color: #121C7B;
    
}   
/* GITHUB and LinkedIn icons */                                                                                                                                                    mm
.icons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
/* boston university student*/
#profile-text p {
    margin-top: 0;
    font-family: "Cormorant Garamond", serif; 
    font-size: 30px;
    color: #000000;
}

.profile-pic {
    width: 300px;
    height: 300px;
    object-fit: cover; 
    /* makes it round     border-radius: 50%; */
     /* optional: adds a border border: 5px solid #96072a; */
}